<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    
    <h1>
        "Unlock the possibilities
 of your project with
 a feasibility study!"
    </h1>


    <form id="Form" method="POST">
        <h1 class="title">Facts</h1>
        <div class="container">
          <div>
            <div class="column">
              <label>
                <input type="checkbox" name="runnynose" value="runnynose">
                runnynose
               
              </label>
              <br>
              <label>
                <input type="checkbox" name="fever" value="fever">
                fever
              </label>
              <br>
              <label>
                <input type="checkbox" name="redspots" value="redspots">
                redspots
              </label>
              <br>
              <label>
                <input type="checkbox" name="measles" value="measles">
                measles
              </label>
              <br>
              <label>
                <input type="checkbox" name="cold" value="cold">
                cold
              </label>
            </div>
          </div>
          <div>
            <div class="column">
              <label>
                <input type="checkbox" name="stiffneck" value="stiffneck">
                stiffneck
              </label>
              <br>
              <label>
                <input type="checkbox" name="meningitis" value="meningitis">
                meningitis
              </label>
              <br>
              <label>
                <input type="checkbox" name="dangerous" value="dangerous">
                dangerous
              </label>
              <br>
              <label>
                <input type="checkbox" name="ingredient" value="Pasta">
                Pasta
              </label>
              <br>
              <label>
                <input type="checkbox" name="ingredient" value="Cheese">
                Cheese
              </label>
            </div>
          </div>
        </div>
        

        
        <div id="result">
          <input type="submit" value="Result" id="submit">
        </div>
      </form>


</body>
</html>